<div class="m-3 p-3 bg-secondary text-white shadow rounded">
  <h1 class="display-4">template-api-backend</h1>
  <p class="lead">api for template-api-backend front-end app. this REST api alows to manage database resources.</p>
</div>

<div class="py-3">
  <%= render "properties/index" %>
</div>
